#calculator {
  
  .main {
    font-size: 26px;
    display: block;
  }

  .amount_fone {
    margin: 20px 0;
    display: block;
    float: right;
    background: #000;
    width: 450px;
    height: 50px;
    border-radius: 10px;

  }
    #amount {
border-radius: 10px;
padding-left: 10px;
      margin: 0 auto ;
      margin-top: 8px;
      width: 420px;
      display: block;
  }

  p {
    font-size: 14px;
    margin-top: 20px;
  }

  #result {
    margin: 10px;
    text-align: center;

      span {

    }
  }
}