<div class="big_wrapper">
  <div class="wrapper" >
	<h4>Калькулятор экономии</h>
    <form name="cl_form" id="calculator"> 
      <div class="demo">

      <fieldset>
        <label class="main" for="amount">Сколько ламп установленно в вашем доме?</label>
        <div class="amount_fone"><input type="number" id="amount" onchange="calc(this.value);"  /></div>
      </fieldset>


      <fieldset>
        <label for="summ" class="main">При использовании "Спектра" экономия электроэнергии в год составит:</label>
        <div id="result"><span>0</span> руб.* </div>
      </fieldset>

        <p>
          *Сумма является ориентировочной и расчитана исходя из тарифа 1.27 руб. при работе 60 ваттной лампы 10 часов в сутки.
        </p>
      </div>
    </form>
  </div>
</div>