<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Диодные лампы</h4>
      <p>Если 60-ваттная лампа работает круглые сутки, то в месяц, она израсходует 43,2 Кв/часа, что обойдётся примерно в 121 рубль. Диодная 8-ваттная лампа за это же время потратит электричества на 16 рублей. </p>
    </li>
    <li id="section-2">
      <h4>Датчик движения</h4>
      <p>При приближении человека и срабатывании датчика движения, "Светильник" включается на полную мощность. При отсутствии движения через 120 сек. включается дежурное освещение в 1Вт.</p>
    </li>
    <li id="section-3">
      <h4>Аккустический датчик</h4>
      <p>"Светильник" срабатывает при появлении шума: шаги по лестничной площадке, открытие дверей лифта, звук открывающегося замка. После прекращения посторонних шумов лампа горит 120 сек. и включается дежурное освещение в 1Вт.</p>
    </li>
    <li id="section-4">
      <h4>Антивандальный корпус</h4>
      <p>Металлический корпус и надёжное крепление обеспечивает сохранность прибора от внешнего воздействия. Небьющееся стекло позволяет обеспечить сохранность светодиодной лампы.</p>
    </li>
  </ul>
</div>
