<div class="big_wrapper">
  <div class="wrapper" >
    <h4>Стоимость</h>
    <div class='pricing-table'>
      <div class='row'>
        <div class='span3'>
          <div class='pricing-plan-first'>
            <div class='plan-name'>
            С установкой
            </div>
            <div class='plan-price-w'>
              <div class='plan-price-desc'>Цена</div>
              <div class='plan-price'>
                <span class='price-self'>1300</span>
                <span class='price-period'>руб.</span>
              </div>
            </div>
            <div class='plan-desc'>
              <ul>
                <li>Бесплатный замер</li>
                <li>
                  <strong>+10%</strong>
                  монтаж на бетон
                </li>
                <li>
                  <strong>2 дня</strong>
                  срок установки
                </li>
                <li>
                  <strong>Бесплатно</strong>
                  съём старых светильников
                </li>
              </ul>
              <p>Стоимость может меняться, в зависимости от сложности установки прибора.</p>
              <a href="/theme_venera/create_account" class="btn btn-primary btn-large">Заказать</a>
            </div>
          </div>
        </div>

        <div class='span3'>
          <div class='pricing-plan-w'>
            <div class='plan-name'>
            Астра
            </div>
            <div class='plan-price-w'>
              <div class='plan-price-desc'>Цена</div>
              <div class='plan-price'>
                <span class='price-self'>900</span>
                <span class='price-period'>руб.</span>
              </div>
            </div>
            <div class='plan-desc'>
              <ul>
                <li>Любые объёмы</li>
                <li>
                  <strong>500 шт.</strong>
                  всегда в наличии
                </li>
                <li>
                  <strong>самовывозом</strong>
                  доставка по городу
                </li>
                <li>
                  <strong>3 года</strong>
                  гарантия
                </li>
              </ul>
              <p>Возможны скидки.</p>
              <a href="/theme_venera/create_account" class="btn btn-primary btn-large">Заказать</a>
            </div>
          </div>
        </div>
        
        <div class='span3'>
          <div class='pricing-plan-w last-plan'>
            <div class='plan-name'>
            Оптом
            </div>
            <div class='plan-price-w'>
              <div class='plan-price-desc'>Цена</div>
              <div class='plan-price'>
                <span class='price-self'>750</span>
                <span class='price-period'>руб.</span>
              </div>
            </div>
            <div class='plan-desc'>
              <ul>
                <li>Любые объёмы</li>
                <li>
                  <strong>1 000 шт.</strong>
                  в наличии
                </li>
                <li>
                  <strong>для всех</strong>
                  возможноть стать диллером
                </li>
                <li>
                  <strong>транспортная компания</strong>
                  доставка
                </li>
              </ul>
              <p>Цена действительна при покупке от 100 шт.</p>
              <a href="/theme_venera/create_account" class="btn btn-primary btn-large">Заказать</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>