<div class="big_wrapper">
  <div class="wrapper" >
	<h4>Отзывы</h>

    <div class="opinions">
    	<ul class="photos clearfix">
    		<li class="photo">
    			<div class="reviewer_photo" id="srv">
    				<img src="/assets/11.jpg">
    			</div>
    		</li>
    		<li class="photo">
    			<div class="reviewer_photo" id="sia">
    				<img src="/assets/5.jpg">
    			</div>
    		</li>
    		<li class="photo">
    			<div class="reviewer_photo" id="spg">
    				<img src="/assets/6.jpg">
    			</div>
    		</li>
    		<li class="photo">
    			<div class="reviewer_photo" id="sig">
    				<img src="/assets/7.jpg">
    			</div>
    		</li>

    	</ul>

    <div class="opinions_item" id="rv">
              <dt class="opinions_item_author">
                  <span class="opinions_item_name">Роман Владимирович</span>, ЖСК "Пеликан" </dt>
              <div class="opinions_item_text">
               <p>   Я долго сомневался, стоит ли устанавилвать новые светильники в подъездах. Собирать деньги, объяснять всем жителям зачем это нужно. Хотя сам я давно всё посчитал.
               </p>
               <p>
                  Когда в мой почтовый ящик попала листовка с описание "Спектра" вопрос снялся сам собой. Мне позвонила жительница нашего дома и спросила действительно ли это так выгодно. На ближайшем собрании мы приняли решения об установке.
                </p>
              </p>
              </div>
    </div>

    <div class="opinions_item" id="ia">
              <dt class="opinions_item_author">
                  <span class="opinions_item_name">Игорь Анатольевич</span>, ТСЖ "Уют-18" </dt>
              <div class="opinions_item_text">
               <p>  В год платишь за электричество по 200 тысяч плюс лампочки постоянно перегорают, плюс электрик у нас один на 4 дома - ждёшь его по два-три дня.
               </p>
               <p> Внук в Интернете нашёл диодные лампы. Много всего просмотрели. По 750 рублей нашли хороший светильник. Электрик сказал, что за каждый светильник возьмёт ещё по 400 рублей. У меня в доме их надо 72 штуки. Получается по 1150 рублей. А тут по 990 с установкой да ещё гарантия 2 года.
                
                </p>
              </p>
              </div>
    </div>

    <div class="opinions_item" id="pg">
              <dt class="opinions_item_author">
                  <span class="opinions_item_name">Петр Георгиевич</span>, ЖСК "Пеликан" </dt>
              <div class="opinions_item_text">
               <p>   Я долго сомневался, стоит ли устанавилвать новые светильники в подъездах. Собирать деньги, объяснять всем жителям зачем это нужно. Хотя сам я давно всё посчитал.
               </p>
               <p>
                  Когда в мой почтовый ящик попала листовка с описание "Спектра" вопрос снялся сам собой. Мне позвонила жительница нашего дома и спросила действительно ли это так выгодно. На ближайшем собрании мы приняли решения об установке.
                </p>
              </p>
            </div>
    </div>

    <div class="opinions_item" id="ig">
              <dt class="opinions_item_author">
                  <span class="opinions_item_name">Илья Георгиевич</span>, ЖСК "Пеликан" </dt>
            <div class="opinions_item_text">
               <p>   Я долго сомневался, стоит ли устанавилвать новые светильники в подъездах. Собирать деньги, объяснять всем жителям зачем это нужно. Хотя сам я давно всё посчитал.
               </p>
               <p>
                  Когда в мой почтовый ящик попала листовка с описание "Спектра" вопрос снялся сам собой. Мне позвонила жительница нашего дома и спросила действительно ли это так выгодно. На ближайшем собрании мы приняли решения об установке.
                </p>
              </p>
     		</div>
      </div>
    </div>
  </div>
</div>