<div class="order">
<div class="wrapper clearfix form">



        <div class="bid">
          <div>
            <form action="simple_mail.php" target="iform" method="POST" onsubmit="return check(this);">
              <input type="text" placeholder="Введите имя" name="fullname" />
              <input type="text" placeholder="Введите телефон" name="phone" />
              <input type="text" placeholder="Введите е-мейл" name="email" />
              <input type="submit" value="Закажите" class="button" id="order011" onclick="yaCounter21611659.reachGoal('order011_3'); return true;"/>
            </form>
            <span>Ваши контактные данные в безопасности<br />и не будут переданы третьим лицам</span>
          </div>
        </div>
        <p>Закажите светодиодный<br>светильник для подъездов<br> с установкой <span class="new">от 1300 рублей</span><br>прямо сейчас!<br></p>
        <div class="timer">
          <div class="tbg"></div>
          <span>До конца акции осталось:</span>
            <div class='hour'>
              <p class='hour0'>1</p><p class='hour1'>2</p>
            </div>
            час.
            <div class='min'>
              <p class='min0'>3</p><p class='min1'>7</p>
            </div>
            мин.
            <div class='sec'>
              <p class='sec0'>4</p><p class='sec1'>5</p>
            </div>
            сек.
        </div>
        <span class="hurry">Успейте сделать заказ до конца акции!</span>
        <div class="clear"></div>

 </div> 
</div>