#lockitron_header
{
  border: none;
  a
  {
    border: none !important;
    font-size: inherit !important;
  }
}
#header 
{
  width: 100%;
  padding: 26px 0;
  -moz-box-shadow:    0px 1px 3px 0px #acacac;
  -webkit-box-shadow: 0px 1px 3px 0px #acacac;
  box-shadow:         0px 1px 3px 0px #acacac;
  background: #fcfcfc;
  position: relative;
}

#header_links
{
  float:right
}

#login_button
{font-family:"ProximaNova-Semibold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color:#3f3f3f;
margin-top:3px;border:1px solid #d3d3d3;float:left;border-radius:5px;padding:8px 12px;font-size:18px}

#update_me_button
{
font-family:"ProximaNova-Semibold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
width:70px;
display:block;
color:#3f3f3f;
border:1px solid #d3d3d3;
border-radius:5px;
padding:3px 12px;
font-size:12px;
float:left;
margin-left:110px;
margin-top:3px
}

#login_button:hover
#update_me_button:hover{text-decoration:none;color:#0088d6}

#login_button:active,
#update_me_button:active{background:#fafafa;border:1px solid #c8c8c8}

.nav_link{font-family:"ProximaNova-Semibold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;color:#8B8A8A;padding-right:20px;font-size:18px;margin-top:12px;float:left}

.nav_link .count{margin-left:3px;margin-top:-5px;padding:5px 8px;font-size:14px;border-radius:5px;background:#0E96E4;text-shadow:none;color:white}

.nav_link:hover{text-decoration:none;color:#333}

.gray_background{background-image:-webkit-linear-gradient( #f6f6f6 0%,#fafafa 50%,#fafafa 100%);background-image:linear-gradient( #f6f6f6 0%,#fafafa 50%,#fafafa 100%);width:100%;padding:50px 0;border-bottom:1px solid #c4c4c4}

h2{font-family:"ProximaNova-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-size:45px;color:#4b4b4b;margin-bottom:10px}

.subheader{margin-bottom:50px}
