@import "homepage/stats";
@import "homepage/call_to_action";
@import "homepage/key_points";
@import "homepage/other_points";
@import "homepage/press";
@import "homepage/faq";
@import "homepage/calculator";

#tweet_button
{
  margin-top: 5px;
}

.fb-like 
{
	margin-left: 5px;
	float:left;
}

#video 
{
  float: left;
  width: 512px;
  height: 385px;
  background: #fff;
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  img:hover
  {
	 opacity: 0.5;
	 cursor: pointer;
  }
}

.smth {
  visibility: hidden;
}

.opinions {
width:100%;
margin: 20px 0 0 0;

font-size:20px;
}

.photos {
height:160px;
margin:0;
padding:0;
list-style:none;
text-align:center;
overflow:hidden
}

.photo {
display:inline-block;
padding:0 0 15px;
vertical-align:top;
}

.reviewer_photo {
position:relative;
width:130px;
height:155px;
margin:0 40px;
-moz-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.9);
-webkit-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.9);
box-shadow:1px 1px 3px 0 rgba(0,0,0,0.9);
}

.opinions_item {
width:100%;
margin-top: 20px;
padding: 15px;
background:#f6f6f6;
}
.opinions_item_author {
margin:0 0 5px;
padding:10px 10px 0
}
.opinions_item_name {
margin:0 0 5px;
}
.opinions_item_text {
padding: 0 10px 0 10px;
line-height: 1.5;
color: #777;
  text-shadow: 2px;
  -webkit-font-smoothing: antialiased;
}

.opinions_item_text p{
margin-top: 15px;

}

#ia{
  display: none;
}

#pg{
  display: none;
}

#ig{
  display: none;
}

.label {
  display: block;
  color: #fff;  
}

.demo {
 padding: 10px;

}

.order {
  background: url(image_path("bg-order.jpg")) no-repeat center;
  padding: 20px 0;
  height: 400px;
}

.form {

  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 0px 18px 10px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(22, 71, 127);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: solid;
  border-left-width: 5px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 5px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 5px;
  box-shadow: rgba(255, 255, 255, 0.498039) 0px 0px 18px 10px;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 25px;
  height: 340px;
  line-height: 16px;

  .bid {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 0, 0);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(0, 0, 0);
    display: block;
    float: right;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 338px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
    width: 355px;
    z-index: 1;

    div {
      border-bottom-color: rgb(0, 0, 0);
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgb(0, 0, 0);
      border-left-style: none;
      border-left-width: 0px;
      border-right-color: rgb(0, 0, 0);
      border-right-style: none;
      border-right-width: 0px;
      border-top-color: rgb(0, 0, 0);
      border-top-style: none;
      border-top-width: 0px;
      color: rgb(0, 0, 0);
      display: block;
      font-family: 'Trebuchet MS';
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      height: 265px;
      line-height: 16px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      padding-bottom: 15px;
      padding-left: 40px;
      padding-right: 25px;
      padding-top: 15px;
      text-align: center;
      vertical-align: baseline;
      width: 290px;

      form {
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: none;
        border-top-width: 0px;
        color: rgb(0, 0, 0);
        display: block;
        font-family: 'Trebuchet MS';
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 265px;
        line-height: 16px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
        vertical-align: baseline;
        width: 290px;

          input {
            -webkit-appearance: none;
            -webkit-background-clip: border-box;
            -webkit-background-origin: padding-box;
            -webkit-background-size: auto;
            -webkit-rtl-ordering: logical;
            -webkit-user-select: text;
            -webkit-writing-mode: horizontal-tb;
            background-attachment: scroll;
            background-clip: border-box;
            background-color: rgb(225, 231, 238);
            background-image: none;
            background-origin: padding-box;
            background-size: auto;
            border-bottom-color: rgb(0, 0, 0);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-style: none;
            border-bottom-width: 0px;
            border-image-outset: 0px;
            border-image-repeat: stretch;
            border-image-slice: 100%;
            border-image-source: none;
            border-image-width: 1;
            border-left-color: rgb(0, 0, 0);
            border-left-style: none;
            border-left-width: 0px;
            border-right-color: rgb(0, 0, 0);
            border-right-style: none;
            border-right-width: 0px;
            border-top-color: rgb(0, 0, 0);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top-style: none;
            border-top-width: 0px;
            color: rgb(0, 0, 0);
            cursor: auto;
            display: inline-block;
            font-family: Arial;
            font-size: 17px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            height: 44px;
            letter-spacing: normal;
            line-height: normal;
            margin-bottom: 25px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            outline-color: rgb(0, 0, 0);
            outline-style: none;
            outline-width: 0px;
            padding-bottom: 0px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px;
            text-align: start;
            text-indent: 0px;
            text-shadow: none;
            text-transform: none;
            width: 270px;
            word-spacing: 0px;
            writing-mode: lr-tb;
          }

          .button {
            -webkit-appearance: none;
            -webkit-background-clip: border-box;
            -webkit-background-origin: padding-box;
            -webkit-background-size: auto;
            -webkit-box-shadow: rgb(216, 201, 0) 0px -6px 0px 0px inset;
            -webkit-rtl-ordering: logical;
            -webkit-user-select: text;
            -webkit-writing-mode: horizontal-tb;
            align-items: flex-start;
            background-attachment: scroll;
            background-clip: border-box;
            background-color: rgb(255, 237, 0);
            background-image: none;
            background-origin: padding-box;
            background-size: auto;
            border-bottom-color: rgb(0, 0, 0);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-style: none;
            border-bottom-width: 0px;
            border-image-outset: 0px;
            border-image-repeat: stretch;
            border-image-slice: 100%;
            border-image-source: none;
            border-image-width: 1;
            border-left-color: rgb(0, 0, 0);
            border-left-style: none;
            border-left-width: 0px;
            border-right-color: rgb(0, 0, 0);
            border-right-style: none;
            border-right-width: 0px;
            border-top-color: rgb(0, 0, 0);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top-style: none;
            border-top-width: 0px;
            box-shadow: rgb(216, 201, 0) 0px -6px 0px 0px inset;
            box-sizing: border-box;
            color: rgb(0, 0, 0);
            cursor: pointer;
            display: inline-block;
            font-family: pfdin;
            font-size: 30px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            height: 58px;
            letter-spacing: normal;
            line-height: normal;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            padding-bottom: 1px;
            padding-left: 6px;
            padding-right: 6px;
            padding-top: 1px;
            position: relative;
            text-align: center;
            text-indent: 0px;
            text-shadow: none;
            text-transform: none;
            white-space: pre;
            width: 271px;
            word-spacing: 0px;
            writing-mode: lr-tb;
          }
        }

      span {
        border-bottom-color: rgb(50, 50, 50);
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgb(50, 50, 50);
      border-left-style: none;
      border-left-width: 0px;
      border-right-color: rgb(50, 50, 50);
      border-right-style: none;
      border-right-width: 0px;
      border-top-color: rgb(50, 50, 50);
      border-top-style: none;
      border-top-width: 0px;
      color: rgb(50, 50, 50);
      display: block;
      float: left;
      font-family: 'Trebuchet MS';
      font-size: 14px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      height: 28px;
      line-height: 14px;
      margin-bottom: 12px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 18px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      text-align: left;
      vertical-align: baseline;
      width: 270px;

}

}

}
  p {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: beau;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    height: 153px;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 13px;
    vertical-align: baseline;
    width: 926px;
  }

  .timer {
    -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(255, 255, 255, 0.0980392);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
display: block;
font-family: beau;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: 600;
height: 76px;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 20px;
padding-bottom: 10px;
padding-left: 22px;
padding-right: 22px;
padding-top: 10px;
position: relative;
vertical-align: baseline;
width: 926px;

.hour {
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(0, 0, 0);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: none;
border-top-width: 0px;
color: rgb(0, 0, 0);
display: inline-block;
font-family: beau;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: 600;
height: 37px;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 10px;
margin-top: 0px;
padding-bottom: 3px;
padding-left: 8px;
padding-right: 8px;
padding-top: 3px;
vertical-align: bottom;
width: 40px;
}

.min {
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(0, 0, 0);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: none;
border-top-width: 0px;
color: rgb(0, 0, 0);
display: inline-block;
font-family: beau;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: 600;
height: 37px;
line-height: normal;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 10px;
margin-top: 0px;
padding-bottom: 3px;
padding-left: 8px;
padding-right: 8px;
padding-top: 3px;
vertical-align: bottom;
width: 40px;
}

.sec {
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(0, 0, 0);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: none;
border-top-width: 0px;
color: rgb(0, 0, 0);
display: inline-block;
font-family: beau;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: 600;
height: 37px;
line-height: normal;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 10px;
margin-top: 0px;
padding-bottom: 3px;
padding-left: 8px;
padding-right: 8px;
padding-top: 3px;
vertical-align: bottom;
width: 40px;
}

p {
border-bottom-color: rgb(0, 0, 0);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-style: none;
border-top-width: 0px;
color: rgb(0, 0, 0);
display: inline;
font-family: beau;
font-size: 30px;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: auto;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: baseline;
width: auto;
}








.tbg {
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: url(http://1000leds.ru/3/images/timer-bg.png);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(0, 0, 0);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: none;
border-top-width: 0px;
color: rgb(0, 0, 0);
display: block;
font-family: beau;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: 600;
height: 195px;
left: 420px;
line-height: normal;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 10px;
margin-top: 0px;
padding-bottom: 3px;
padding-left: 8px;
padding-right: 8px;
padding-top: 3px;
position: absolute;
top: -105px;
vertical-align: bottom;
width: 185px;
}

span {
  border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
display: block;
font-family: 'Trebuchet MS';
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 23px;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 10px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: baseline;
width: 926px;
}
  }
  .hurry {
    border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
display: inline;
font-family: 'Trebuchet MS';
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: 45px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 25px;
padding-right: 0px;
padding-top: 0px;
vertical-align: baseline;
width: auto;
  }
}


.white-card {
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgb(180, 182, 169) 0px 1px 4px 1px, rgb(255, 255, 255) 2px 2px 1px 0px inset;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-repeat: repeat;
background-size: auto;
box-shadow: rgb(180, 182, 169) 0px 1px 4px 1px, rgb(255, 255, 255) 2px 2px 1px 0px inset;
color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 600px;
line-height: 20px;
margin-bottom: 20px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 1170px;

.pricing-table {
color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 580px;
line-height: 20px;
padding-top: 20px;
width: 1170px;


.first-plan{
border-left-color: rgb(79, 78, 76);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(238, 238, 238);
border-right-style: solid;
border-right-width: 1px;
color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 540px;
line-height: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
text-align: center;
width: 340px;

}
}
}
.plan-name {
  border-bottom-color: rgb(221, 221, 221);
border-bottom-style: solid;
border-bottom-width: 1px;
color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 32px;
font-weight: 300;
height: 20px;
line-height: 20px;
margin-bottom: 20px;
padding-bottom: 20px;
text-align: center;
text-transform: uppercase;
width: 340px;
}

.plan-price-first{
  border-bottom-color: rgb(238, 238, 238);
border-bottom-style: solid;
border-bottom-width: 1px;
color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 109px;
line-height: 20px;
margin-bottom: 15px;
padding-bottom: 20px;
text-align: center;
width: 340px;
}

.row {
  color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 580px;
line-height: 20px;
margin-left: -30px;
width: 1200px;

.span3 {
color: rgb(79, 78, 76);
display: block;
float: left;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 580px;
line-height: 20px;
margin-top: 25px;
margin-left: 30px;
min-height: 1px;
width: 360px;
}
}


pricing-plan-w {
  border-left-color: rgb(238, 238, 238);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(238, 238, 238);
border-right-style: solid;
border-right-width: 1px;
color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 540px;
line-height: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
text-align: center;
width: 340px;
}

.plan-price-desc {
  color: rgb(179, 216, 207);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 300;
height: 20px;
line-height: 20px;
margin-bottom: 5px;
text-align: center;
text-transform: lowercase;
width: 340px;
}

.plan-price {
  color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 84px;
line-height: 84px;
text-align: center;
width: 340px;
}

.plan-desc {
  color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 334px;
line-height: 20px;
text-align: center;
width: 340px;

ul {
  color: rgb(79, 78, 76);
display: block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 164px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 20px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
width: 340px;

li {
  border-bottom-color: rgb(238, 238, 238);
border-bottom-style: solid;
border-bottom-width: 1px;
color: rgb(79, 78, 76);
display: list-item;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 300;
height: 20px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 10px;
padding-left: 0px;
padding-right: 0px;
padding-top: 10px;
text-align: center;
width: 340px;

strong {
  background-color: rgb(234, 245, 249);
color: rgb(79, 78, 76);
display: inline;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: bold;
height: auto;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: center;
width: auto;
}
}
}

p {
  background-color: rgb(254, 251, 238);
border-bottom-color: rgb(234, 222, 177);
border-bottom-style: solid;
border-bottom-width: 2px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(234, 222, 177);
border-left-style: solid;
border-left-width: 2px;
border-right-color: rgb(234, 222, 177);
border-right-style: solid;
border-right-width: 2px;
border-top-color: rgb(234, 222, 177);
border-top-style: solid;
border-top-width: 2px;
color: rgb(151, 138, 85);
display: block;
font-family: Abel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 300;
height: 60px;
line-height: 20px;
margin-bottom: 20px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
width: 310px;
}

.btn-primary {
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
background-color: rgb(120, 124, 113);
background-image: linear-gradient(rgb(125, 129, 118), rgb(112, 116, 106));
background-repeat: repeat-x;
border-bottom-color: rgba(0, 0, 0, 0.247059);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.0980392);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.0980392);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.0980392);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 19px;
font-weight: 300;
height: 22px;
line-height: 22px;
margin-bottom: 0px;
padding-bottom: 11px;
padding-left: 19px;
padding-right: 19px;
padding-top: 11px;
text-align: center;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
vertical-align: middle;
width: 105px;
}
}


.price-self {
  color: rgb(79, 78, 76);
display: inline-block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 72px;
font-weight: 300;
height: 84px;
line-height: 84px;
text-align: center;
vertical-align: bottom;

}

.price-period {
color: rgb(179, 216, 207);
display: inline-block;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 24px;
font-weight: 300;
margin-left: 10px;
height: 84px;
line-height: 84px;
text-align: left;
vertical-align: bottom;

}