<div id="header">
  <div class="wrapper clearfix">
    <h1 id="lockitron_header"><a href="/"><%= Settings.product_name %></a></h1>
    <div id="header_links">
        <a class='nav_link' href="/preorder/checkout">
        	Нижний Новгород 
        		<span class='count'>414-89-19</span>
        </a>
      </div>
  </div>
</div>