<div id="header">
  <div class="wrapper clearfix">
    <h1 id="lockitron_header"><a href="/"><%= Settings.product_name %></a></h1>
    <div id="header_links">
        <a class='nav_link' href='http://blog.lockitron.com'>
        	Новости <span class='count'>11</span>
        </a>
        <a id='login_button' href="/account/login">Статус заказа</a>
      </div>
  </div>
</div>