<section>
  <form>
    <aside class="left">
      <ul class="payment">
        <li class="price">
          <p>Описание</p>
          <span>200 рублей.</span>
        <li class="price">
          <p>Описание</p>
          <span>200 рублей.</span>
        <li class="price">
          <p>Описание</p>
          <span>200 рублей.</span>
        <li class="price">
          <p>Описание</p>
          <span>200 рублей.</span>
      </ul>
    </aside>
    <aside class="right">

      <label name="Телефон:">Телефон:</label>
      <input type="tel" class="inner" placeholder="8-905-191-2323" required>

      <label name="Количество приборов:">Количество приборов:</label>
      <input type="number" class="inner" placeholder="1" min="0" max="500" required>

      <label name="Адрес:">Адрес:</label>
      <input type="number" class="inner" placeholder="Куда доставить приборы" required>

      <label name="Почта:">E-mail:</label>
      <input type="email" class="inner" placeholder="Ваша электронная почта" required>

      <input type="submit">

    </aside>

  </form>
</section>
