<section>
  <form>
    <aside class="left">
      <ul class="payment">
        <li class="price">
          <p>Описание</p>
          <span>200 рублей.</span>
        <li class="price">
          <p>Описание</p>
          <span>200 рублей.</span>
        <li class="price">
          <p>Описание</p>
          <span>200 рублей.</span>
        <li class="price">
          <p>Описание</p>
          <span>200 рублей.</span>
      </ul>
    </aside>
    <aside class="right">
      <fieldset>
        <label name="Телефон:">Телефон:</label>
        <input type="tel" class="inner" placeholder="8-905-191-2323" required>
      </fieldset>
      <fieldset>
        <label name="Количество приборов:">Количество приборов:</label>
        <input type="number" class="inner" placeholder="1" min="0" max="500" required>
      <fieldset>
      </fieldset>
        <label name="Адрес:">Адрес:</label>
        <input type="text" class="inner" placeholder="Куда доставить приборы" required>
      <fieldset>
      </fieldset>
        <label name="Почта:">E-mail:</label>
        <input type="email" id="email" placeholder="Ваша электронная почта" required>
      <fieldset>

    </aside>

  </form>
</section>
