<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="top_content <%= "payment_options" if Settings.use_payment_options %>">
<% if Settings.use_payment_options %>
      <h3>Заявка на преобретение "Светильника"</h3>
      <p>
        Пожалуйста, введите данные для предварительной заявки. Наш менеджер перезвонит вам в ближайшее время для подтверждения заявки.</p>
    </div>
        <%= render 'preorder/checkout/sidebar' %>
    <div class="middle_content">
          Выберите комплектацию приобретаемого оборудования.
          <%= render 'preorder/payment_options' %>
<% end %>
     <a class="blue_button reserve center">Отправить</a>
    </div>
  </div>
</div>
